doctype html
html(ng-app='tweetWall')
  ng-view
  head
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular-route.js")
    script(src="http://localhost:8000/socket.io/socket.io.js")
    script(src="js/tweets.js")
  body
    div(ng-controller='TweetController')
      h1='Simple Tweet Wall'
        form(ng-hide='h', ng-submit='changeHash()')
          input(type='text', ng-model='hashtag', size='140', placeholder='hashtag')
          input(type='submit', value='go')
        a(ng-show='shareUrl', target='_blank', href='{{shareUrl}}') {{shareUrl}}
        if authed
          form(ng-show='shareUrl', ng-submit='tweet()')
            input(type='text', ng-model='tweetText', size='140', placeholder='status text')
            input(type='submit', value='tweet')
        else
          a(ng-hide='h', href='/login',)= 'Sign in with twitter to tweet'
        ul#tweets
          li#tweet(ng-repeat='tweet in tweets')
            img(src='{{tweet.user.profile_image_url}}')
            | {{tweet.user.name}} : {{tweet.text}}
